<h1>Articles</h1>

<%= button("Create Article", to: "/articles/new", method: :get) %>

<ul>
  <%= for article <- @articles do %>
    <li>
      <strong>
        <%= link(article_index_display(article), to: Routes.article_path(@conn, :show, article)) %>
      </strong>
    </li>
  <% end %>
</ul>
