<h1>User Details</h1>

<dl>
  <dt>First name</dt>
  <dd><%= @user.first_name %></dd>
  <br />
  <dt>Last name</dt>
  <dd><%= @user.last_name %></dd>
  <br />
  <dt>Email</dt>
  <dd><%= @user.email %></dd>
</dl>
